.profile {
    height: min-content;
    .topImage {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
        img {
            width: 100%;
            margin-bottom: -40%;
        }
    }
    .contentBlockWrapper {
        position: relative;
        background: rgb(72, 2, 78);
        .contentBlock {
            display: flex;
            flex-direction: column;
            position: relative;
            .postsBlock {
                margin-top: 35px;
            }
        }
    }
}
