.profile {
	.topImage {
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
		img {
			width: 100%;
			margin-bottom: -40%;
		}
	}
	.contentBlockWrapper {
		position: relative;
		background: rgb(72, 2, 78);
		.contentBlock {
			display: flex;
			flex-direction: column;
			position: relative;
			.postsBlock {
				margin-top: 35px;
				.newPostBlock {
					padding: 20px 20px 40px;
					background: mediumslateblue;
					box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
					input {
						font-size: 17px;
						width: 100%;
						padding-left: 10px;
						line-height: 35px;
					}
					.buttonWrap {
						margin-top: 10px;
						position: relative;
						width: 100%;
						button {
							margin-right: 10px;
							position: absolute;
							right: 0;
							font-size: 15px;
							line-height: 24px;
							padding: 0 15px;
							border-radius: 4px;
							background: navy;
							color: #ddd;
							box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
							&:hover {
								background: mediumblue;
							}
							&:active {
								box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
								right: -2px;
								top: 2px;
								background: darkgreen;
							}
						}
					}
				}
				.existingPostsBlock {
					margin-bottom: 50px;
					max-width: 100%;
					.post {
						margin-top: 20px;
						background: mediumslateblue;
						padding: 10px;
						font-size: 18px;
						box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
						.likes {
							text-align: right;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
