.profile {
    //background: mediumslateblue;
    flex-basis: 70%;
    flex-grow: 1;
    max-width: 850px;
    margin-right: 25px;
    margin-left: 25px;
    height: min-content;
    .topImage img {
        width: 100%;
        margin-bottom: -40%;
    }
    
}
