.profile {
	.topImage {
		img {
			width: 100%;
			margin-bottom: -40%;
		}
	}
	.contentBlockWrapper {
		position: relative;
		background: #edeef0;
		.contentBlock {
			display: flex;
			flex-direction: column;
			position: relative;
			.postsBlock {
				margin-top: 15px;
				.newPostBlock {
					padding: 10px 20px 20px;
					background: #fff;
					.textField {
						width: 100%;
					}
					&:focus-within {
						.buttonWrap {
							display: block;
						}
					}
					.buttonWrap {
						&.visibleButton {
							display: block;
						}
						margin-top: 10px;
						position: relative;
						width: 100%;
						display: none;
						height: 20px;
						button {
							margin-right: 5px;
							position: absolute;
							right: 0;
							text-transform: none;
							&.visibleButton {
								opacity: 1;
								transition: 0.5s;
							}
							&:active {
								background: darkgreen;
							}
						}
					}
				}
				.existingPostsBlock {
					margin-bottom: 50px;
					max-width: 100%;
					.post {
						margin-top: 10px;
						background: #fff;
						padding: 10px;
						white-space: pre-line;
						.author {
							display: flex;
							align-items: center;
							font-size: 18px;
							.avatar {
								margin-right: 10px;
							}
						}
						.text {
							margin: 5px;
						}
						.likes {
							text-align: right;
							margin-top: 10px;
							font-weight: 700;
							svg {
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
}
