.pageInfoFormWrap {
	padding: 20px;
	form {
		font-size: 15px;
		max-width: 500px;
		margin: 0 auto;
		.nameItem {
			text-transform: capitalize;
			min-width: 130px;
		}
		.checkboxField,
		.textField {
			min-width: 150px;
			width: 100%;
			margin: 7px 5px;
		}
		.checkboxField {
			margin-left: -6px;
		}
		.contactsTitle {
			font-size: 17px;
			margin: 7px 0 3px;
			background: #f0f2f5;
			color: #828282;
			padding: 5px;
			margin: 5px;
			width: 100%;
		}
		.buttons {
			text-align: center;
			button {
				margin: 10px;
				padding: 3px 5px;
				border-radius: 3px;
			}
		}
	}
	.errorsWrap {
		min-height: 50px;
		.errors {
			color: #ddd;
			line-height: 17px;
			padding: 5px;
			background: rgb(165, 0, 0);
			border-radius: 3px;
		}
		.blinkError {
			background: rgb(177, 0, 0);
		}
	}
}
