.newPostBlock {
    padding: 20px 20px 40px;
    background: mediumslateblue;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    input {
        font-size: 17px;
        width: 100%;
        border-radius: 4px;
        padding-left: 10px;
        line-height: 35px;
        background: #ddd;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
        &:focus {
            background: #fff;
        }
    }
    .buttonWrap {
        margin-top: 10px;
        position: relative;
        width: 100%;
        button {
            margin-right: 10px;
            position: absolute;
            right: 0;
            font-size: 15px;
            line-height: 24px;
            padding: 0 15px;
            border-radius: 4px;
            background: navy;
            color: #ddd;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
            &:hover {
                background: mediumblue;
            }
            &:active {
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
                right: -2px;
                top: 2px;
            }
        }
    }
}