.pageWrap {
	background: #fff;
	padding: 0 30px 30px;
	.page {
		margin: 0 auto;
		max-width: 790px;
		position: relative;
		.pageHead {
			display: flex;
			.avatar {
				margin: -47px 30px 0 0;
				text-align: center;
				position: relative;
				min-width: 150px;
				max-width: 150px;
				background: #fff;
				img:hover ~ label {
					visibility: visible;
				}
				img {
					width: 100%;
					border: 2px solid #000;
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
					&.isExist {
						&:hover {
							cursor: zoom-in;
						}
					}
				}
				input {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}
				label {
					visibility: hidden;
					display: block;
					text-align: center;
					width: calc(100% - 4px);
					line-height: 20px;
					margin: -22px 2px 0;
					position: relative;
					background: rgba(0, 0, 0, 0.5);
					cursor: pointer;
					font-weight: 700;
					font-size: 10pt;
					color: #ddd;
					@media (pointer: coarse) {
						visibility: visible;
					}
					&:hover {
						background: rgba(0, 0, 0, 0.8);
						visibility: visible;
					}
				}
			}
			.mainInfo {
				margin: 20px auto 0;
				font-family: sans-serif;
				max-width: 70%;
				width: 100%;
				.pageName {
					font-size: 25px;
					line-height: 30px;
					padding-left: 20px;
				}
				.status {
					margin-top: 5px;
					height: fit-content;
					background: #f0f2f5;
					border-radius: 5px;
					.myStatus,
					.enterStatus {
						border: 1px dashed transparent;
						display: block;
						&:hover {
							border: 1px dashed #000;
							cursor: pointer;
						}
					}
					.enterStatus {
						color: #555;
					}
					.statusField {
						width: 100%;
						input {
							height: 20px;
							padding: 1px;
						}
					}
					.myStatus,
					.enterStatus {
						padding: 3px;
					}
				}
			}
		}
		.personalInfoWrap {
			margin: 0 auto;
			.topBorder,
			.infoTitle {
				margin-top: 10px;
				padding: 0 10px;
			}
			.topBorder {
				font-size: 13px;
				line-height: 17px;
				background: #f0f2f5;
				color: #828282;
			}
			.infoTitle {
				font-size: 17px;
				line-height: 20px;
				border-bottom: 1px solid #aaa;
				font-weight: 700;
				position: relative;
				.editModeButton {
					height: 100%;
					color: #000;
					position: absolute;
					right: 3px;
					background: transparent;
					padding: 0 5px;
					display: none;
					@media (pointer: coarse) {
						display: inline;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.personalInfo {
				line-height: 17px;
				display: flex;
				justify-content: space-around;
				.aboutMeBlock {
					margin: 0 10px 0 15px;
					width: 100%;
					max-width: 50%;
					.pageInfoRow,
					.checkboxRow {
						margin: 7px 0;
						white-space: pre-line;
						span {
							font-weight: 700;
						}
					}
					.checkboxRow {
						svg {
							vertical-align: middle;
						}
					}
				}
				.contactsBlock {
					width: 100%;
					max-width: 50%;
					.contactsTitle {
						font-size: 17px;
						margin: 7px 0;
					}
					.contactsItem {
						margin: 7px 10px 7px 15px;
						a {
							color: #2a5885;
						}
						span {
							text-transform: capitalize;
							font-weight: 700;
						}
					}
				}
			}
			&:hover {
				.infoTitle {
					.editModeButton {
						display: inline;
					}
				}
			}
		}
	}
}

.pageWrap {
	@media screen and (max-width: 800px) {
		.page {
			max-width: 400px;
			.pageHead {
				.mainInfo {
					max-width: 60%;
				}
			}
			.personalInfoWrap {
				.personalInfo {
					flex-wrap: wrap;
					.aboutMeBlock {
						max-width: 100%;
					}
					.contactsBlock {
						max-width: 100%;
					}
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		.page {
			max-width: 300px;
			.pageHead {
				flex-wrap: wrap;
				.mainInfo {
					max-width: 100%;
				}
			}
		}
	}
}

.photoFullWindowWrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	background: rgba(0, 0, 0, 0.493);
	&:hover {
		cursor: zoom-out;
	}
	.photoFullwindow {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto auto;
		width: fit-content;
		height: fit-content;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}
