.loginContainer {
	padding: 30px 0;
	.greeting {
		margin: 0 auto 20px;
		max-width: 300px;
		line-height: 20px;
		p:first-child {
			font-size: 17px;
			text-align: center;
			margin-bottom: 5px;
		}
		mark {
			background: #ddd;
			margin: 5px;
			display: block;
			text-align: center;
			text-shadow: 1px 1px 3px rgb(158, 158, 158);
			box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
				0px 1px 5px 0px rgba(0, 0, 0, 0.12);
		}
	}
	form {
		margin: 0 auto;
		max-width: max-content;
		.textField {
			width: 100%;
		}
		.inputWrap {
			margin: 15px 0 0;
			input {
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					border-radius: 0;
					-webkit-box-shadow: 0 0 0 30px #fff inset !important;
				}
			}
		}
		.checkboxWrap {
			padding: 0 5px;
		}

		.captcha {
			.captchaImg {
				max-width: 120px;
				margin: 10px auto;
				position: relative;
				box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
					0px 1px 5px 0px rgba(0, 0, 0, 0.12);
				img {
					border-radius: 5px;
					max-width: 100%;
				}
				button {
					position: absolute;
					right: 0;
					width: 20px;
					height: 20px;
					background: transparent;
				}
			}
		}
	}
	.buttons {
		margin: 0 auto;
		max-width: max-content;
		button {
			margin: 5px;
		}
	}

	.error {
		text-align: center;
		color: #f44336;
		min-height: 25px;
	}
}
