.loginContainer {
	background: rgb(17, 121, 121);
	padding: 30px 0;
	text-shadow: 0.5px 0.5px 4px rgb(92, 92, 92);
	.greeting {
		margin: 0 auto 20px;
		max-width: 300px;
		line-height: 20px;
		p:first-child {
			font-size: 17px;
			text-align: center;
			margin-bottom: 5px;
		}
		mark {
			margin: 5px;
			display: block;
			text-align: center;
			text-shadow: 1px 1px 3px rgb(158, 158, 158);
			box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
		}
	}
	form {
		margin: 0 auto;
		max-width: max-content;
		input {
			max-width: 175px;
			margin-bottom: 10px;
			padding: 5px;
			box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
		}
		label {
			margin-left: 5px;
		}
		.captcha {
			.captchaImg {
				max-width: 175px;
				margin: 10px 0;
				position: relative;
				box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
				img {
					border-radius: 5px;
					max-width: 100%;
				}
				button {
					position: absolute;
					right: 0;
					width: 25px;
					height: 25px;
					background: transparent;
				}
			}
		}
	}
	.buttons {
		margin: 0 auto;
		max-width: max-content;
		button {
			margin: 0 5px 10px;
			text-shadow: 1px 1px 2px #000;
			padding: 5px;
			background: rgb(78, 19, 133);
			border-radius: 5px;
			color: rgb(211, 211, 211);
			min-width: 70px;
			box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
			&:hover {
				background: rgb(108, 25, 185);
			}
			&:disabled {
				background: rgb(38, 9, 65);
				cursor: default;
			}
		}
	}

	.error {
		text-align: center;
		color: red;
		text-shadow: 1px 1px 2px #000;
		min-height: 25px;
	}
}
