.sidebar {
	grid-area: sidebar;
	position: fixed;
	width: 150px;
	background: #edeef0;
	height: 500vh;
	top: 60px;
	z-index: 3;
	&.menuIsActive {
		left: 0;
		transition: 0.3s;
	}
	@media screen and (max-width: 500px) {
		left: -500px;
		transition: 0.3s;
	}
	.nav {
		height: 100%;
		width: 150px;
		padding-top: 10px;
		.list {
			font-size: 20px;
			li {
				padding: 0 5px;
				a {
					color: inherit;
					text-decoration: none;
					border-radius: 3px;
					padding: 5px 10px;
					display: block;
					width: 100%;
					&.active {
						pointer-events: none;
						background: #dce1e6;
					}
					&:hover {
						background: #dce1e6;
					}
				}
			}
			li:nth-last-child(2) {
				padding-bottom: 5px;
			}
			li:last-child {
				border-top: 1px solid #dce1e6;
				padding-top: 5px;
			}
		}
	}
}
