.defaultForm {
	.defaultElement {
		max-width: 175px;
		padding: 5px;
		display: block;
		background: rgb(247, 247, 247);
		border: 2px solid #000;
		border-radius: 5px;
		&::placeholder {
			color: #444;
		}
		&:focus {
			background: #fff;
			&::placeholder {
				color: #777;
			}
		}
	}
	span {
		color: red;
		text-shadow: 1px 1px 2px #000;
	}
	.error {
		border: 2px solid red;
	}
}
