.app-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 160px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
}
