.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  max-width: 1200px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  min-height: 100vh;
}

.header {
  grid-area: h;
  background: darkorchid;
}

.header img {
  width: 50px;
}

.nav {
  grid-area: n;
  background: darkcyan;
}

.content {
  grid-area: c;
  background: mediumslateblue;
}

.topImage img {
  width: 100%;
  margin-bottom: -25%;

}

.topImage {
}

.avatar {
  margin: 20px;
}

.avatar img {
  height: 150px;
}

.content-block {
  display: flex;
  position: relative;
  background: mediumslateblue;
}

.posts {
  margin: 20px 0;
}